
/*div{ width:200px; height:200px; border:2px red solid;}*/

#div1{
    width:400px;
    height:400px;
    border:2px red solid;
    position:relative;
    left:200px;
    top:100px;
}

#div2{float:right;}

a:hover{color:red;};

body{
    font-style:italic;
    font-variant:small-caps;
    font-size:12px;
    line-height:1.5em;
    font-family:"宋体",sans-serif;
}